
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  list-style: none;
}
body{
  background:#FFF7D1;
}
/* nav */
.atas {
  background: #563a9c;
  display: flex;
  justify-content: space-around;
  column-gap: 1000px;
  padding: 18px 0;
}
/*search box*/
.search-box {
  position: relative;
  background-color: #FFF7D1;
  height: 18px;
  padding: 7px 15px;
  border-radius: 50px;
}
.search-box input {
  border: none;
  outline: none;
  background: none;
}
.search-box a {
  color: #000000;
}
/* End search box*/

.main-info {
  display: flex;
}
.main-info ul li {
  list-style: none;
}
.atas ul {
  display: flex;
  justify-content: left;
}
.atas ul li {
  margin-left: 10px;
  list-style: none;
  font-weight: bold;
  font-family: 'Red Hat Display', sans-serif;
  color: #ffffff;
}
.main-info li i {
  margin-right: 7px;
  color: #ffffff;
}
.atas ul li a {
  color: rgb(255, 255, 255);
}
.nav {
  width: 100%;
  z-index: 999999;
  padding: 10px;
  background: #B692C2;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  font-family: 'Lobster', sans-serif;
  display: flex;
  align-items: center;
  font-size: 40px;
  font-weight: bold;
  padding-left: 58px;
  color: rgb(0, 0, 0);
}
.logo img {
  width: 85px;
  margin-right: 20px;
}
.nav-bar ul {
  display: flex;
}

.nav-bar li {
  text-decoration: none;
}
.nav-bar ul li a {
  display: block;
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-family: 'Red Hat Display', sans-serif;
  padding: 10px 5px;
  padding-right: 40px;
  border-radius: 10px;
  text-decoration: none;
  margin: 0 5px;
}
.nav-bar ul li a:hover {
  color: #a62319;
}
.nav-bar ul li a.active {
  color: #a62319;
}

hr {
  border: 1px solid #000000;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
/* end nav */

/* AWALAN CSS HOME.HTML */
/* Gambar Banner */
.container-header {
  display: flex;
  justify-content: center;
}
.container-header img {
  position: relative;
  background-size: cover;
  border-bottom: 2px solid #ffffff;
  width: 100%;
}
.header-title {
  position: absolute;
  color: #000000;
  width: 87%;
  padding: 0px 50px 0px 0px;
  padding-top: 100px;
}
.header-title p {
  font-family: "DM-Sans-500";
  line-height: 50px;
}
.header-title h1 {
  font-family: "DM-sans-700";
  font-size: 50px;
  line-height: 60px;
}
.button-container {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}
.button {
  padding: 10px 20px;
  background-color: #a62319;
  border-radius: 5px;
  color: #ffffff;
  border: 2px solid #ffffff;
  font-family: "DM-Sans-500";
  font-size: 16px;
  cursor: pointer;
}
.button:hover {
  background-color: #fff5c2;
  color: rgb(0, 0, 0);
}
.button2 {
  background-color: #fff5c2;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  border-radius: 5px;
  font-family: "DM-Sans-500";
  font-size: 16px;
  cursor: pointer;
}
.button2:hover {
  color: #ffffff;
  background-color: #a62319;
}
/* End Gambar Banner */

.box-bg {
  background-color: #563a9c;
}
/* Welcome */
.welcome-content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  padding: 20px;
  border-bottom: 1px solid #ffffff;
}

.welcome-content h2 {
  padding-top: 25px;
  padding-left: 58px;
  font-family: "DM-Sans-700";
  font-size: 32px;
  color: #ffffff;
  margin-bottom: 10px;
}

.welcome-content p {
  font-family: "DM-Sans-400";
  font-size: 16px;
  padding-right: 58px;
  color: #ffffff;
  padding-top: 30px;
  margin-bottom: 10px;
  margin-left: auto;
}
/* End Welcome */

/* Gambar dan teks sambutan */
.sambutan-container {
  display: flex; 
  margin-top: 50px;
  padding-bottom: 50px;
  position: relative;
}
.gambar-sambutan img {
  width: 400px;
  height: 400px;
  padding-left: 60px;
  border-radius: 10px;
  object-fit: cover;
}
.teks-sambutan {
  padding-top: 40px;
  padding-left: 40px;
  flex: 1;
}
.teks-sambutan h3 {
  font-family: "DM-Sans-700";
  font-size: 24px;
  color: #ffffff;
}
.teks-sambutan p {
  font-family: "DM-Sans-400";
  font-size: 16px;
  color: #ffffff;
}
/* End Gambar dan teks sambutan  */

/* Ikon Jam dan Ikon WA */
.icon-container {
  position: absolute;
  padding-top: 20px;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  padding-left: 480px;
}

.icon-item {
  margin: 0 20px;
  display: flex;
}

.icon-item i {
  font-size: 30px;
  color: #000000; /* Ubah warna ikon menjadi putih */
  background-color: #fff5c2; /* Warna latar belakang merah */
  border-radius: 50%; /* Untuk membuat latar belakang bulat */
  padding: 10px; /* Sesuaikan padding sesuai kebutuhan */
}

.icon-text {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
}

.icon-text h4 {
  font-family: "DM-Sans-500";
  color: #ffffff;
  margin-top: 5px;
}

.icon-text p {
  font-family: "DM-Sans-400";
  color: #ffffff;
  margin-top: 5px;
}
/* End Ikon Jam dan Ikon WA */

/* Tampilan Booking Meja Title */
.booking-title {
  font-size: 24px;
  margin-bottom: 20px;
  padding-left: 255px;
  padding-top: 100px;
}

/* Tampilan Booking Meja Container */
.booking-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 250px;
  margin-right: 250px;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px 30px;
  box-shadow: -2px 2px 25px -2px rgba(213, 213, 213, 0.72);
  -webkit-box-shadow: -2px 2px 25px -2px rgba(213, 213, 213, 0.72);
  -moz-box-shadow: -2px 2px 25px -2px rgba(213, 213, 213, 0.72);
}

.booking-item {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-weight: bold;
}

.booking-item label {
  margin-bottom: 5px;
}

input[type="date"],
input[type="time"],
input[type="email"] {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 150px;
  box-sizing: border-box;
}

.booking-button {
  padding: 10px 20px;
  background-color: #a62319;
  color: #ffffff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.booking-button:hover {
  background-color: #fff5c2;
  color: rgb(0, 0, 0);
}
/* End Tampilan Booking Meja */

/* Kenapa Harus Memilih Kami Section */
.reasons-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
}

.reasons-heading {
  padding-top: 90px;
  text-align: center;
}
.reason-item {
  flex: 1;
  margin: 10px;
  padding: 20px;
  background-color: #563a9c;
  color: #ffffff;
  box-shadow: -2px 2px 25px -2px rgba(213, 213, 213, 0.72);
  -webkit-box-shadow: -2px 2px 25px -2px rgba(213, 213, 213, 0.72);
  -moz-box-shadow: -2px 2px 25px -2px rgba(213, 213, 213, 0.72);
  border-radius: 10px;
  text-align: center;
}

.reason-item i {
  font-size: 36px;
  margin-bottom: 10px;
}

.reason-item h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.reason-item p {
  font-size: 14px;
  color: #ffffff;
}

/* End Kenapa Harus Memilih Kami Section */

/* CSS untuk Bagian Testimoni */
.testimoni-section h3{
  text-align: center;
  padding-top: 50px;
  padding-bottom: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.testimoni-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.testimoni-item {
    width: 30%; 
    margin-bottom: 20px;
}

.testimoni-content {
    text-align: center;
}
.testimoni-content img {
  width: 80%;
  border-radius: 10px;
  box-shadow: -1px 1px 51px -18px rgba(0,0,0,0.75);
-webkit-box-shadow: -1px 1px 51px -18px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 1px 51px -18px rgba(0,0,0,0.75);
} 
.testimoni-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.testimoni-item {
  width: 30%; 
  margin-bottom: 20px;
}


.testimoni-content {
  text-align: center;
}


/* Responsive Style */
@media (max-width: 768px) {
  .testimoni-item {
      width: 100%; 
  }
}
/* End Testimoni */

/* AKHIR CSS HOME.HTML */

/* AWALAN CSS CONTACT.HTML */

/* Gaya Kontak */
h3.message-header {
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  margin-top: 80px;
  color: #000000;
  background-color: #FFF7D1;
}

#contact1 {
  padding: 20px 10px;
}

.box-contact {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  margin-top: 50px;
}

.information-contact {
  background: #563A9C;
  color: white;
  width: 40%;
  border: 1px solid white;
  padding: 20px;
  border-radius: 20px;
  height: 50vh;
  text-align: center;
  margin-top: 59px;
}

.information-contact h2 {
  margin-bottom: 10px;
}

.information-contact p {
  margin-bottom: 40px;
}

.information-contact ul {
  margin-bottom: 100px;
}

.information-contact ul li {
  margin-bottom: 20px;
  align-items: center;
  display: flex;
}

.information-contact img {
  margin-right: 10px;
}

.follow-social img {
  width: 20px;
}

.follow-social {
  display: flex;
  justify-content: center;
}

.instagram {
  margin-left: 20px;
}

.phone,
.mail,
.location {
  width: 30px;
}

.form {
  width: 40%;
  max-width: 600px;
  padding: 30px;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-top: 50px;
}

.label {
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.input-form,
.textarea {
  width: 100%;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

.textarea {
  resize: vertical;
}

.submit {
  background: #563A9C;
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.submit:hover {
  background-color: #8aa08f;
}
.back-to-home3 {
  display: flex;
  margin-left: 155px;
}

.btn3 {
  display: inline-block;
  background-color: #000;
  color: rgb(0, 0, 0);
  padding: 10px 50px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

.btn3:hover {
  background-color: #ccc;
}

/* Maps */
.maps {
  width: 100%;
  margin-top: 80px;
  justify-content: center;
  padding-bottom: 30px;
  text-align: center;
  
}

.heading-maps {
  margin-bottom: 20px;
}

.heading-maps h2 {
  color: #000000;
  padding-top: 30px;
  padding-bottom: 20px;
}

iframe {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 1350px;
  height: 450px;
}
/* End Maps */


/* AKHIR CSS CONTACT.HTML */

/* AWAL CSS ABOUT.HTML */

/* Gambar dan teks sambutan */
.tentang-container {
  display: flex;
  padding-bottom: 30px;
  position: relative;
  background-color: #FFF7D1;
}

.gambar-tentang img {
  width: 450px;
  padding: 65px 0px 0px 70px;
  height: 550px;
  border-radius: 30px;  
}

.teks-tentang {
  padding-top: 60px;
  padding-right: 190px;
  padding-left: 140px;
  color: #000000;
  flex: 1;
}

.teks-tentang h3 {
  font-size: 24px;
  color: #050505;
  font-family: 'Caveat Brush', cursive;
  font-size: 35px;
  font-style: italic;
}
.teks-tentang h1 {
  font-family: 'Red Hat Display', sans-serif;
}
.teks-tentang p {
  font-size: 17px;
  color: #000000;
  text-align: justify;
  font-family: 'Red Hat Display', sans-serif;
}

/* Styling Visi Misi Container */
.visi-misi-container{
  display: grid;
  border-top: 3px solid;
}

.visi-misi-container img{
  background-position: center;
  background-size: cover;
  width: 100%;
  
}
.visi-section{
  padding-bottom: 80px;
  padding-left: 190px;
}
.misi-section{
  text-align: right;
  padding-left: 750px;
}
.visi-section h3, .misi-section h3{
  color: #ffffff;
  font-family: 'Caveat Brush' cursive;
  font-size: 45px;
  font-style: italic;
}
.visi-section p, .misi-section ul {
  color: #ffffff;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 18px;
}
.teks-visi-misi{
  position: absolute;
  padding: 180px 0;
}

/* Styling Misi List */
.misi-list {
  list-style-type: none;
  padding: 0;
}

.misi-list li {
  margin-bottom: 10px;
}

/* Responsive Design */
@media (max-width: 768px) {
.visi-misi-container {
  flex-direction: column;
}

}
/* End misi visi */
/* End Gambar dan teks sambutan */

/* Styling Video Container */
.video-player {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 90px;
  margin: 20px;
  align-items: center;
}
/* End video container */

/* AKHIR CSS ABOUT.HMTL */

/* AWAL CSS MENU.HTML */
.menu-container{
  display: grid;
  color: white;
}
.gambar-menu img{
  width: 100%;
  height: 90%;
}
.teks-menu{
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 70px;
  font-family: 'Lobster', sans-serif;
}

/* Daftar Menu */


/* MAKANAN */
.judul-menu-makanan{
  font-size: 30px;
  margin: 0px 425px 30px 425px;
  text-align: center;
}

.daftar-menu-makanan{
  display: grid;
  grid-template-columns: repeat(6,1fr);
  margin-left: 430px;
  align-items: center;
  grid-gap: 30px;
}
.daftar-menu-makanan > article{
  box-shadow: 3px 3px 5px 0px;
  border-radius: 20px;
  text-align: center;
  background: whitesmoke;
  width: 200px;
  transition: transform;
}
.daftar-menu-makanan > article img{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.daftar-menu-makanan > article:hover{
  transform: scale(1.05);
}

/*  END MAKANAN */

/*  CEMILAN */

.judul-menu-cemilan{
  font-size: 25px;
  margin: 0px 315px 30px 315px;
  text-align: center;
  padding-top: 20px;
}

.daftar-menu-cemilan{
  display: grid;
  grid-template-columns: repeat(6,1fr);
  margin-left: 315px;
  align-items: center;
  grid-gap: 30px;
}
.daftar-menu-cemilan > article{
  box-shadow: 3px 3px 5px 0px;
  border-radius: 20px;
  text-align: center;
  background: whitesmoke;
  width: 200px;
  transition: transform;
}
.daftar-menu-cemilan > article img{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.daftar-menu-cemilan > article:hover{
  transform: scale(1.05);
}
.daftar-menu-cemilan1{
  display: grid;
  grid-template-columns: repeat(6,1fr);
  margin-left: 420px;
  align-items: center;
  grid-gap: 30px;
  padding-top: 10px;
}
.daftar-menu-cemilan1 > article{
  box-shadow: 3px 3px 5px 0px;
  border-radius: 20px;
  text-align: center;
  background: whitesmoke;
  width: 200px;
  transition: transform;
}
.daftar-menu-cemilan1 > article img{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.daftar-menu-cemilan1 > article:hover{
  transform: scale(1.05);
}

/*  END CEMILAN */

/*  MINUMAN */
.judul-menu-minuman{
  font-size: 25px;
  margin: 0px 315px 30px 315px;
  text-align: center;
  padding-top: 20px;
}

.daftar-menu-minuman{
  display: grid;
  grid-template-columns: repeat(6,1fr);
  margin-left: 315px;
  align-items: center;
  grid-gap: 30px;
}
.daftar-menu-minuman > article{
  box-shadow: 3px 3px 5px 0px;
  border-radius: 20px;
  text-align: center;
  background: whitesmoke;
  width: 200px;
  transition: transform;
}
.daftar-menu-minuman > article img{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.daftar-menu-minuman > article:hover{
  transform: scale(1.05);
}
.daftar-menu-minuman1{
  display: grid;
  grid-template-columns: repeat(6,1fr);
  margin-left: 315px;
  align-items: center;
  grid-gap: 30px;
  padding-top: 10px;
}
.daftar-menu-minuman1 > article{
  box-shadow: 3px 3px 5px 0px;
  border-radius: 20px;
  text-align: center;
  background: whitesmoke;
  width: 200px;
  transition: transform;
}
.daftar-menu-minuman1 > article img{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.daftar-menu-minuman1 > article:hover{
  transform: scale(1.05);
}

/*  END MINUMAN */

/*  style foto */
article img{
  height: 200px;
  width: 200px;
  object-fit: cover;
}
article h5{
  margin-bottom: 0px;
  font-size: 17px;
}
article p{
  font-weight: 600;
  margin-bottom: 15px;
}
/*  end style foto */
/* End Daftar Menu */


/* AKHIR CSS MENU.HTML */

/* footer */
footer {
  margin-top: 150px;
  background-color: #563a9c;
  font-family: "Work Sans", sans-serif;
  padding: 20px 100px;
  border-top: 1px solid white;
  color: rgb(255, 255, 255);
  column-gap: 40px;
}
.first h2 {
  margin-bottom: 20px;
}
.main-footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.for-beginner p {
  font-weight: 700;
  margin-bottom: 20px;
}
.for-beginner ul li {
  list-style: none;
  margin-bottom: 5px;
}
.for-beginner ul li a {
  text-decoration: none;
  color: white;
}

.support p {
  font-weight: 700;
  margin-bottom: 20px;
}
.support ul li img {
  height: 35px;
  width: 80px;
  margin-bottom: 5px;
}
.Address p {
  margin-bottom: 20px;
}
.Address-1 {
  font-weight: 700;
}
footer hr {
  color: white;
  margin: 30px 0px;
}
footer .copyright {
  text-align: left;
}
.social-icons {
  display: flex;
  column-gap: 10px;
  margin-top: 10px;
}

.social-icons a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.social-icons i {
  transition: transform 0.3s ease-in-out;
}

.social-icons i:hover {
  transform: scale(1.2);
}
/* End Footer */